
.TimerForm {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.TimerForm-body {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
.mini-form{
    display: flex;
    justify-content: center;
    align-items: text;
    flex-direction: column;
    color: white;
    text-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    text-align: center;
    font-family:'digital-clock';
}

.TimerForm-body input {
    outline: none;
    border: none;
    background-color: transparent;
    width: 100px;
    text-align: center;
    padding-bottom: 10px;
    font-size: 2rem;
    height: 50px;
    font-family:'digital-clock';
    color: white;
    caret-color: white;
    text-shadow: rgba(0, 0, 0, 0.5) 0px 5px 15px;
    
}
.TimerForm-body input::placeholder {
    height: 50px;
    color: white;
    font-size: 2rem;
    font-family:'digital-clock';
    text-shadow: rgba(0, 0, 0, 0.5) 0px 5px 15px;

    /* background-color: white; */
}


.seperator {
    color: white;
    font-size: 2rem;
    font-family:'digital-clock';
    text-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}



.TimerForm-button {
    padding-left: 20px;
    background-color: transparent;
    color: transparent;
    outline: none;
    border: none;
}

.button {
    width: 50px;
    height: 50px;
    color: white;
    background-color: transparent;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 3px 1px;
    transition: all 0.3s ease;
}
.button:hover {
    cursor: pointer;
    box-shadow: 0 0 10px 1px #FFF;
}
.input-disabled {
    pointer-events: none;
}

.input-disabled:focus {
    pointer-events: none; 
    outline: none;
    caret-color: transparent;
}